{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-primary text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Connect with me on social media:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/david.robb.2012" target="_blank" class="me-4">
        <i class="fa-brands fa-facebook-f fa-xl"></i>
      </a>
      <a href="https://www.instagram.com/davidrobb169/" target="_blank" class="me-4">
        <i class="fa-brands fa-instagram fa-xl"></i>
      </a>
      <a href="https://www.linkedin.com/in/david-robb-42436a20/" target="_blank" class="me-4">
        <i class="fa-brands fa-linkedin-in fa-xl"></i>
      </a>
      <a href="https://github.com/drobb2020" target="_blank" class="me-4">
        <i class="fa-brands fa-github fa-xl"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- End Section: Social media -->
  <!-- Copyright -->
  <div class="text-center p-4">
    ©2025 Copyright:
    <a class="text-reset fw-bold" href="#"
      >Excession Development </a> | All rights reserved.
  </div>
  <!-- End Copyright -->
</footer>
<!-- End Footer -->
