{% extends 'base.html' %}

{% block title %}| {{ task.title }}{% endblock title %}

{% block content %}

    <div class="shadow rounded bg-light border p-3 mb-3" style="max-width: 45rem;">
        <span style="margin-left: 2.3rem;" class="badge rounded-pill text-bg-success mb-3">Task Id: {{ task.id }}</span>
        <h3 class="fw-bolder" style="font-family: 'Raleway', sans-serif;"><i class="fa-light fa-thumbtack me-3"></i>{{ task.title }}</h3>
        <p class="lead" style="margin-left: 2.3rem; font-family: 'Raleway', sans-serif;">{{ task.content }}</p>
        <hr class="border border-primary border-2 opacity-50">
        <div class="d-inline" style="margin-left: 2.3rem; font-family: 'Raleway', sans-serif;"><a href="{% url 'task-update' task.id %}" class="btn btn-primary">Update Task</a></div>
        <div class="d-inline" style="font-family: 'Raleway', sans-serif;"><a href="{% url 'task-delete' task.id %}" class="btn btn-danger">Delete Task</a></div>
        <div class="d-inline" style="font-family: 'Raleway', sans-serif;"><a href="{% url 'home' %}" class="btn btn-secondary">Return Home</a></div>
        <div class="d-inline" style="font-family: 'Raleway', sans-serif;"><a href="{% url 'dashboard' %}" class="btn btn-secondary">Return to Dashboard</a></div>
        <hr class="border border-primary border-2 opacity-50">
    </div>

{% endblock content %}
